extend ../index
block content
  h2 Period Item
  h3 Editing period item #{period._id}
  form(action='edit',method='post').period-edit
    input(type='text',name='period[number]',placeholder='#',value='#{period.number}')
    input(type='text',name='period[text]',placeholder='Text',value='#{period.text}')
    input(type='text',name='period[start]',placeholder='Start Time',value='#{period.normalized.military.start}')
    input(type='text',name='period[finish]',placeholder='Finish Time',value='#{period.normalized.military.finish}')
    .cancel
      a(href='/admin/schedules/#{period.schedule_id}/edit') Cancel
    input(type='submit',value='Save')
