extend ../index
block content
  include ../layout/flash
  h2 Schedules
  if (schedules.length == 0)
    p
      | No schedules yet! Why don't you make one?
  else
    table.schedules
      thead
        tr
          th Name
          th Description
          th Activate
          th Actions
      tbody
        for schedule in schedules
          tr(class=schedule.active == true ? "active" : undefined)
            td= schedule.name
            td= schedule.description
            td
              if (schedule.active)
                <a href="/admin/schedules/#{schedule._id}/deactivate">Deactivate</a>
              else
                <a href="/admin/schedules/#{schedule._id}/activate">Activate</a>
            td
              <a href="/admin/schedules/#{schedule._id}/edit">Edit</a> —
              <a href="/admin/schedules/#{schedule._id}/delete">Delete</a>
  form(action='/admin/schedules/create',method='post').schedule-create
    input(type='text',name='schedule[name]',placeholder='Name')
    input(type='text',name='schedule[description]',placeholder='Description')
    input(type='submit',value='Save')
