doctype html
html
  head
    title Clock
    link(rel="stylesheet", href="/css/clock.css")
    link(rel="stylesheet", href="/css/vendor/jquery.marquee.css")
    script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js")
    script(type="text/javascript", src="/js/jquery.marquee.js")
    script(type="text/javascript", src="/js/clock.js")
  body
    #marquee
      ul.marquee
        - for (var i = 0; i < marquees.length; i++) {
          li= marquees[i].text
        - }
    #wrapper
      #clock
        p#date
        p#time
      #schedule
        if (periods !== undefined)
          ol
            - for (var i = 0; i < periods.length; i++) {
                li.
                  #{periods[i].text}: <time datetime="#{periods[i].datetime.start}">#{periods[i].normalized.start}</time> &ndash; <time datetime="#{periods[i].datetime.finish}">#{periods[i].normalized.finish}</time>
            - }
